:root {
    --mainColor: #ff9800;
  }
  
  html, body {
    height: 100%;
    font-family: 'Merriweather', serif;
  }
  
  #navbar {
    background: #1E2640;
  }
  
  #home {
    background: #F2B705;
    color: #1E2640;
  }
  
  #bio {
    background: #F21B42;
    color: #F2B705;
  }
  
  #work {
    background: #1E2640;
    color: #F21B42;
  }
  
  #contact {
    background: black;
    color: white;
  }
  
  h1 {
    font-size: 5em;
  }
  
  .nav-item {
    transition: background 200ms;
  }
  
  .nav-link {
    outline: none;
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
    background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 1px 1px;
    transition: background-size .2s;
  }
  
  .nav-item.active .nav-link {
    background-size: 4px 50px;
  }