

.work-item{
  background-color: #000000;
  border: 2px solid #002a21;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 6px 2px rgba(1, 75, 74, 0.47);
  transition: all ease-in-out .2s;
  transform: rotate(-1deg);
}

.project-img {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .collapsible .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .collapsible .active:after {
    content: "\2212";
  }
  
  .collapsible .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }