/* Default style for sidebar */
.sidenav {
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
}

.sidenav a {
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    padding: 10px;
    transition: color 0.3s;
}

.sidenav a.active {
    color: #f1f1f1;
    background-color: #575757;
}

.work-list-elements {
    display: none; /* Hidden by default */
}

.work-list.active + .work-list-elements {
    display: block; /* Show when active */
}

/* Styling the highlighted active item */
.sidenav a:hover {
    color: #f1f1f1;
}
